.Numbers .boxes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.Numbers .box {
  margin: 2px;
  background-color: violet;
  border: 1px solid violet;
  color: white;
  border-radius: 10px;
  text-align: center;
  box-shadow: 5px 5px 5px rgba(110, 16, 125, 0.181);
}

.Numbers .box:hover {
  background-color: white;
  color: violet;
}

.Numbers .result {
  grid-column: span 4;
}